strong {
  font-weight: bold;
}

/* Fitzgerald */
#dot-container {
  position: relative;
}

.dot-title {
  color: #333;
  font-family: 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  position: absolute;
  top: 30px;
  left: 85px;
  z-index: 400;
  padding: 0 0.3em;
  line-height: 1.5;
  background: #fff;
  background: rgba(255,255,255,0);
  text-shadow:
   0 1px 0 rgba(255,255,255,1),
   0 -1px 0 rgba(255,255,255,1),
   -1px 0 0 rgba(255,255,255,1),
   1px 0 0 rgba(255,255,255,1),

   1px 1px 0 rgba(255,255,255,1),
   1px -1px 0 rgba(255,255,255,1),
   -1px 1px 0 rgba(255,255,255,1),
   -1px -1px 0 rgba(255,255,255,1),

   0 0 2px rgba(255,255,255,1),

   0 0 8px rgba(255,255,255,1),
   0 0 8px rgba(255,255,255,1),
   0 0 8px rgba(255,255,255,1)

  ;
}
.ie9 .dot-title {
  background: rgba(255,255,255,0.85);
}

#dot-add-feedback {
  font-size: 1.25em;
  background: #7fc1ff;
  color: #fff;
  border: 0;
  font-family: 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
  font-weight: bold;
  padding: 0.5em 0;
  width: 210px;
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 999;
  cursor: pointer;
  text-shadow: 1px -1px 0 #5f91bf;
     -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
     -moz-box-shadow: 0 0px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0px 10px rgba(0,0,0,0.5);
          box-shadow: 0 0px 10px rgba(0,0,0,0.5);
}

.dot-survey-form {
  display: none;
}

.dot-survey-form-label {
  font-size: 11px;
  line-height: 11px;
}

#dot-sv {
  width: 100%;
  height: 350px;
  border:0;
  float: left;
}

#dot-sv img {
  max-width:none !important;
}


/* Feedback */
.dot-feedback-container {
  float: right;
  margin-left: -240px;
  width: 240px;
}

.dot-feedback-nav {
  position: relative;
  z-index: 999;
  margin: 0 40px;
  text-align: center;
}
.dot-feedback-nav-state {
  background: #fff;
  background: rgba(255,255,255,0.85);
  padding: 0.25em 0.5em;
}
.dot-feedback-nav-prev a,
.dot-feedback-nav-next a {
  float: left;
  background: url(prev.png) left top no-repeat scroll;
  width: 41px;
  height: 41px;
  margin: 0 -41px 0 0;
  text-align: left;
  text-indent: -9999px;
  position: relative;
  top: -14px;
}
.dot-feedback-nav-next a {
  float: right;
  background-image: url(next.png);
  margin: 0 0 0 -41px;
}
.dot-feedback-nav-prev a:hover,
.dot-feedback-nav-next a:hover {
  background-position: left bottom;
}


.dot-feedback {
  overflow: visible;
  height: 290px;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  z-index: 50;
}

.dot-feedback li {
  position: absolute;
  top: 60px;
  right: -10px;
  bottom: 15px;
  left: 10px;
  font-family: 'Swanky and Moo Moo', Verdana, sans-serif;
  font-size: 1.5em;
  line-height: 1.2;
  overflow: hidden;
  padding: 0.5em;
  min-height: 1.2em;
  margin: 0 !important;
  cursor: pointer;
  z-index: 50;
     -moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
          box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.dot-feedback li.dot-feedback-top {
  z-index: 999;
}

.dot-feedback li:nth-child(even) {
  top: 63px;
  right: 0;
  bottom: 12px;
  left: 0;
      -ms-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
     -moz-transform: rotate(-2deg);
          transform: rotate(-2deg);
  -webkit-border-bottom-right-radius: 12px;
      -moz-border-radius-bottomright: 12px;
          border-bottom-right-radius: 12px;
}
.dot-feedback li:nth-child(5n+1) {
  top: 55px;
  right: -5px;
  bottom: 20px;
  left: 5px;
      -ms-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
     -moz-transform: rotate(-4deg);
          transform: rotate(-4deg);

  -webkit-border-bottom-right-radius: 0;
      -moz-border-radius-bottomright: 0;
          border-bottom-right-radius: 0;
  -webkit-border-top-left-radius: 6px;
      -moz-border-radius-topleft: 6px;
          border-top-left-radius: 6px;
}
.dot-feedback li:nth-child(odd) {
      -ms-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
     -moz-transform: rotate(1deg);
          transform: rotate(1deg);
}

.dot-feedback li:nth-child(even):after {
  content:"\0020";
	width: 0;
	height: 0;
	border-top: 10px solid rgba(255,255,255,0.1);
	border-right: 10px solid transparent;
	position: absolute;
	bottom: 0;
	right: 0;
     -moz-box-shadow: -1px -1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: -1px -1px 1px rgba(0,0,0,0.2);
          box-shadow: -1px -1px 1px rgba(0,0,0,0.2);
}

.dot-feedback li:nth-child(5n+1):after {
  content:"\0020";
	width: 0;
	height: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 5px solid rgba(255,255,255,0.1);
	border-left: 5px solid transparent;
	position: absolute;
	top: 0;
	left: 0;
     -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
          box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.dot-feedback li.yellow {
  background-color: #fef200;
}

.dot-feedback li.blue {
  background-color: #91c7f2;
  font-family: 'Loved by the King', Verdana, sans-serif;
  font-size: 1.7em;
  line-height: 1.3;
}

.dot-feedback li.magenta {
  background-color: #ff99d6;
  font-family: 'Shadows Into Light', Verdana, sans-serif;
  font-size: 1.5em;
  line-height: 1.4;
}

.dot-feedback li a {
  text-decoration: none;
  color:#444;
}

.dot-feedback li .lt100 {
  display: block;
  padding: 0.2em;
  font-size: 1.25em;
}
.dot-feedback li .lt50 {
  display: block;
  padding: 0.5em 0;
  font-size: 1.5em;
  text-align: center;
}

/* Feedback Activity Graph */
.dot-feedback-activity {
  position:absolute;
  z-index:1;
  top:125px;
  left:0px;
}


/* Slider */
.dot-slider {
  background: transparent url("mapslider.png") no-repeat left center;
  border:none;
  height:140px;
  width:100%;
     -moz-border-radius: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-size: 100%;
}

.dot-slider .ui-slider-handle {
  background: transparent url("mapslider-handle.png") no-repeat center center;
  width: 49px;
  height:49px;
  margin-left:-24px;
  margin-top:57px;
  border: none;
  cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
  outline: 0;

  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.dot-slider .ui-slider-handle.grabbed {
  cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), default !important;
}

.dot-slider-container {
  clear: both;
  position: relative;
}

#dot-survey-desc {
  display: block;
  padding:0.2em;
  margin:1em 0;
  width:360px;
  height:70px;
  resize: none;
}

.fitzgerald-counter {
  float: right;
  font-size: 11px;
  line-height: 11px;
}

/* Tooltip */
.dot-tooltip {
  display: none;
  position: absolute;
  z-index:999;
  padding: 5px;
  color:#fff;
  width:8em;
  text-align:center;
  margin-left:-4em;

  -moz-box-shadow:    0px 0px 10px #e0dcd5;
  -webkit-box-shadow: 0px 0px 10px #e0dcd5;
  box-shadow:         0px 0px 10px #e0dcd5;

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.dot-tooltip:before {
  content:"\0020";
  position: absolute;
  height:10px;
  width:10px;
  z-index:999;
  display: block;

  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
  -o-transform: rotate(45deg); /* Opera */
  -moz-transform: rotate(45deg); /* Firefox */
}

.dot-tooltip.dot-tooltip-comments {
  background-color:#4b99da;
  top:153px;
}

.dot-tooltip.dot-tooltip-comments:before {
  border-left:1px solid #fff;
  border-top:1px solid #fff;
  background-color:#4b99da;
  left:50%;
  top:-6px;
  margin-left:-5px;
}

.dot-tooltip.dot-tooltip-youarehere {
  top:30px;
  background-color:#e539a1;
}

.dot-tooltip.dot-tooltip-youarehere:before {
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;

  background-color:#e539a1;
  left:50%;
  bottom:-6px;
  margin-left:-5px;
}


.dot-tooltip strong {
  font-weight: bold;
}

.fitzgerald-view-comment-link {
  display: none;
}
.dot-feedback-top .fitzgerald-view-comment-link {
  display: block;
  width: 201px;
  height: 121px;
  background: transparent url(click-to-view.png) left bottom no-repeat scroll;
  text-align: left;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -100px;
}
.dot-feedback-top .fitzgerald-view-comment-link:hover {
  background-position: left top;
}