/*
 * Administration area
 */
 
div.form-wrap-mygp-geotags-geometatags div.form-field {
  float: left;
}
div.form-wrap-mygp-geotags-geometatags div.form-field-mygp-input {
  width: 45%;
}
div.form-wrap-mygp-geotags-geometatags div.form-field-mygp-select {
  width: 15%;
}
div.form-wrap-mygp-geotags-geometatags div.form-field-mygp-addMap {
  width: auto;
}
div.form-wrap-mygp-geotags-geometatags div.form-field-mygp-mapLocation {
  width: auto;
}
div.form-wrap-mygp-geotags-geometatags div.form-field-mygp-zoomLevel {
  width: auto;
}
div.form-wrap-mygp-geotags-geometatags div.form-field-mygp-geotags-geometatags-geopicker {
  width: 100%;
  text-align: left;
}
button#mygpGeoPickerButton {
  background-image: url('images/world.png');
  background-position: 12px 3px;
  background-repeat: no-repeat;
  padding-left: 32px;
  font-weight: bold;
  border-color: #999;
}
button#mygpGeoPickerButton:hover {
  background-image: url('images/world-blue.png');
}
p#addGeoPicker {
  margin-top: 24px !important;
  color: #999;
}

/*
 * Frontend
 */
 
div.mygpMap {
  margin-bottom: 12px;
}